PORT=8080

DATABASE_URL="postgresql://user:password@host:5432/db_name?schema=public"

JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"

GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
OAUTH_REDIRECT_URL="http://localhost:8080/api/v1/auth/google/callback"

MAIL_FROM="Booking <no-reply@stayra.com>"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_email_password"

# API
PUBLIC_API_URL="http://localhost:8080"
# FE
PUBLIC_WEB_URL="http://localhost:3000"

BRAND_NAME="Stayra"
BRAND_LOGO_URL="https://res.cloudinary.com/daqomvsyq/image/upload/v1760176369/logo-stayra_woqwtp.png"
SUPPORT_EMAIL="stayra247@gmail.com"
BRAND_ADDRESS="80, Cao Lỗ, Phường 4, Quận 8, Hồ Chí Minh"

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

VNPAY_TMN_CODE="your_vnpay_tmn_code"
VNPAY_HASH_SECRET="your_vnpay_hash_secret"
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payments/vnpay/return
VNPAY_IPN_URL=https://api.yourdomain.com/v1/payments/vnpay/ipn
VNPAY_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
